<h1>Employee#edit</h1>
{{#form url method='post' class='form'}}
    <table>
    <tr>
        <td>{{label 'Username' 'Username'}}</td>
        <td>{{input 'username' employee.username}}</td>
    </tr>
        <tr>
            <td>{{label 'Email' 'Email'}}</td>
            <td>{{input 'email' employee.email}}</td>
        </tr>
    <tr>
        <td>{{label 'First Name' 'First name' }}</td>
        <td>{{input 'firstName' employee.firstName }}</td>
    </tr>
    <tr>
        <td>{{label 'Middle Initial' 'Middle Initial' }}</td>
        <td>{{input 'middleInitial' employee.middleInitial }}</td>
    </tr>
    <tr>
        <td>{{label 'Last name' 'Last name'}}</td>
        <td>{{input 'lastName' employee.lastName}}</td>
    </tr>
    <tr>
        <td>{{label 'Date of birth' 'DOB'}}</td>
        <td>{{input 'dateOfBirth' employee.dateOfBirth type="date" }}</td>
    </tr>
    <tr>
        <td>{{label 'Date of employment' 'DOE'}}</td>
        <td>{{input 'dateOfEmployment' employee.dateOfEmployment type="date" }}</td>
    </tr>
        <tr>
            <td>{{submit 'save' 'Save'}}</td>
            <td>{{submit 'delete' 'Delete'}}></td>
        </tr>
</table>
    {{hidden 'bStatus' 'ACTIVE' }}
    {{hidden '_id' employee._id }}
{{/form}}
{{ messages }}
